footer.footer
  .container-fluid
    .row.justify-content-center.py-1
      .navbar.navbar-expand-sm.navbar-right.secondary-text.navbar-dark
        .container-fluid
          span.sr-only (current)
          button#toggleExpandMenu.navbar-toggler.mx-auto.align-content-center(type="button" data-toggle="collapse" data-target="#footerNav" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #footerNav.collapse.navbar-collapse.mx-auto
            ul.navbar-nav.navbar-expand.mx-sm-4.d-block.d-sm-flex.mx-auto
              li.nav-item
                a.nav-link.comingSoon(href="#" data-initialText="Careers") Careers
              li.nav-item
                a.nav-link.comingSoon(href="#" data-initialText="About") About
              li.nav-item
                a.nav-link.comingSoon(href="#" data-initialText="Support") Support
              li.nav-item
                a.nav-link.comingSoon(href="#" data-initialText="Contact Us") Contact Us
              li.nav-item
                a.nav-link.comingSoon(href="#" data-initialText="Press") Press
    .row.justify-content-center.py-0
      ul.navbar-nav.navbar-expand
        li.nav-item
          a.nav-link.comingSoon(href="#" data-initialText="Terms") Terms
        li.nav-item
          p.nav-link |
        li.nav-item
          a.nav-link.comingSoon(href="#" data-initialText="Privacy") Privacy
          
//Vue.js Scripts go here..
script(type="text/javascript" src="/js/dependencies/bootstrap.bundle.min.js" defer)
script(type="text/javascript" src="/js/dependencies/vue.js" defer)
script(type="text/javascript" src="/js/app.js" defer)
script(type="text/javascript").
  //Function below is required, called when user successfully selects captcha, to pass front end validation check
  function recaptchaCallback() {
  document.getElementById('captchaField').value = 'nonEmpty';
  };
