footer.footer
  .container-fluid
    .row.my-3
      .col-11.offset-1.mx-auto
        h6.text-center Developed by Justin Schellenberg 
          span.text-muted All rights Reserved
    .row
      ul.navbar-nav.mx-auto.navbar.navbar-expand.navbar-right.secondary-text.navbar-light
        li.nav-item.mx-md-2.mx-3
          a.btn.btn-social-icon.btn-website.d-sm-none.d-block(target="_blank" href="https://justin.schellenberg.site")
            span
              i.fas.fa-globe
          a.btn.btn-block.btn-social.btn-website.d-none.d-sm-block(target="_blank" href="https://justin.schellenberg.site")
            span
              i.fas.fa-globe
            | Personal Website
        li.nav-item.mx-md-2.mx-3
          a.btn.btn-social-icon.btn-github.d-sm-none.d-block(target="_blank" href="https://github.com/jrschellenberg")
            span
              i.fab.fa-github-alt
          a.btn.btn-block.btn-social.btn-github.d-none.d-sm-block(target="_blank" href="https://github.com/jrschellenberg")
            span
              i.fab.fa-github-alt
            | Github
        li.nav-item.mx-md-2.mx-3
          a.btn.btn-social-icon.btn-linkedin.d-sm-none.d-block(target="_blank" href="https://www.linkedin.com/in/justin-schellenberg-667451160/")
            span
              i.fab.fa-linkedin
          a.btn.btn-block.btn-social.btn-linkedin.d-none.d-sm-block(target="_blank" href="https://www.linkedin.com/in/justin-schellenberg-667451160/")
            span
              i.fab.fa-linkedin
            | LinkedIn

//Vue.js Scripts go here..

