// Metadata
meta(charset="utf-8")
title Map Calc | #{title}
meta(name="description" content="T")
meta(name="keywords" content="Map, route calculator, project, Manitoba, Canada")
meta(name="author" content="Justin Schellenberg")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0")

//IMPORTANT!!!!!!!!!! REMOVE THIS LATER WHEN WANT SITE INDEXED!!!!!!!!!!!!!!!!
meta(name='robots' content='noindex')

//PolyFills for older Browsers
script(src="https://cdn.polyfill.io/v2/polyfill.min.js" async)
script(type="text/javascript" src="/js/dependencies/dependencies.js" defer)
  
link(rel="stylesheet" href="/stylesheets/styles.css")

