nav#navigation.navbar.navbar-expand-lg.navbar-right.fixed-top.secondary-text
  .container-fluid
    span.sr-only (current)
    button#toggleExpandMenu.navbar-toggler.m-2.navbar-light(type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    img.mx-auto(style="width: 3.5em;" src="/images/logo/logo.png" alt="Logo")
    button#toggleExpandAccountMenu.navbar-toggler.m-2(type="button" data-toggle="collapse" data-target="#accountMenu" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation")
      span
        i.far.fa-user-circle.accountFont
    #mainMenu.collapse.navbar-collapse
      ul.navbar-nav.ml-2
        li.nav-item
          a#homeLink.nav-link(href="/") Home
        li.nav-item
          a#showcaseLink.nav-link(href="#") About
        if user
          li.nav-item
            a#whitePaperLink.nav-link(href="/profile") Profile
        //li.nav-item
        //  a#icoOfferingLink.nav-link.comingSoon(href="#" data-initialText="ICO Offering") ICO Offering
    #accountMenu.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.mr-0
        if user
          li.nav-item
            a.nav-link(href="/auth/logout") Logout
        else
          li.nav-item
            a.nav-link(href="/auth/login/google") Login