/*
Media Query values, same as bootstrap.
 */
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 482px;

/*
Colour pallete goes here
 */
$front-box-background-color: #FEFEFE;
$primary-background-colour-dark: #999999;
$primary-background-color-hover: #808080;
$primary-background-colour-light: #efefef;

$primary-text: rgba(0,0,0,0.88);
$secondary-text: rgba(0,0,0,0.7);
$disabled-text: rgba(0,0,0,0.5);
$input-primary-text: rgba(0,0,0,0.87);
$input-secondary-text: rgba(0,0,0,0.57);

$other-primary-text: rgba(255,255,255,0.88);
$other-secondary-text: rgba(255,255,255,0.7);
$other-disabled-text: rgba(255,255,255,0.5);




$primary-colour: #73a839 ;
$accent-colour: #6e39a8;


$primary-colour-2: #2fa4e7;
$accent-colour-2: #178acc;

$error-text-colour: rgba(153,26,0, 0.78);

$triadic-color-1: #15cf5c;
$triadic-color-2: #cf1588;

//$primary-colour: #1588cf;
//$accent-colour: #cf5c15;



/*
Body & Base Styles
 */
$content-background: rgba(43,43,43,0.60); //Background colour to overlay the background image


/*
Main Navigation Variables
 */
$navbar-padding-content-min-height: 5rem;
$navbar-padding-content-max-height: 18rem;

$navigation-background-color: #2fa4e7;
$navbar-top-background-color: $navigation-background-color;

$navbar-background-button-color: #178acc;
$navbar-background-button-hover-color: #157ab5;

//$navbar-top-background-color: #cccccc;


$navbar-color: $primary-text;
//$navbar-color: #501717;
//$navbar-hover-color: #153737;
$navbar-hover-color: #178acc;

$navbar-shift-hover-background-color: rgba(80,23,23,0.25);
$navbar-shift-border-radius: 8px;

/*
About Variables
 */
$about-background-color: #2fa4e7;
