node_modules/
.cache/
.idea/
dist/
coverage/
package-lock.json
src/frontEndJS/dependencies/bundle.js*
secrets.js

src/public/stylesheets/
.snyk
npm-debug.log.*
error.log
warning.log
.env
.nyc_*
src/public/js/dist/
src/public/js/dependencies/
