doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/animate.min.css")
    link(rel="stylesheet" href="/stylesheets/base.css")
    link(rel="stylesheet" href="/stylesheets/MainNav.css")
    link(rel="stylesheet" href="/stylesheets/footer.css")
    link(rel="stylesheet" href="/stylesheets/social.css")
    link(rel="stylesheet" href="/stylesheets/classUtilities.css")
  body
    block content
      
    script(type="text/javascript" src="/js/bundle.js")
