@import 'variables'; 


.fixed-top{
  @media(min-width:$xs){
    position: absolute !important;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
.w-70{
  width:70%;
  @media(max-width:$xs){
    width:100%;
  }
  input{
    width:70%;
    @media(max-width:$xs){
      width:100%;
    }
  }
}



