/*
Media Query values, same as bootstrap.
 */
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 482px;

/*
Colour pallete goes here
 */


$primary-text: rgba(15,30,50, 1);
$secondary-text:rgba(15,30,50, 0.77);
$disabled-text: rgba(15,30,50, 0.55);

$input-primary-text: rgba(15,30,50, 0.88);
$input-secondary-text: rgba(15,30,50, 0.67);


$background-colour: #f4fafd;
$navBar-Footer-colour: #ddd3b0;
$primary-colour: #15afd8;
$accent-colour: #d83e15;



